#Riders
/.idea
/.vs
#Ignore env settings to keep it as private
/Sharecode.Backend.Api/appsettings.development.json
/Sharecode.Backend.Worker.Outbox/appsettings.development.json
/Sharecode.Backend.Worker.DbCleanup/appsettings.development.json

# Migrations Folder
/Sharecode.Backend.Infrastructure/Migrations/
/Sharecode.Backend.Infrastructure/Migrations/ShareCodeDbContextModelSnapshot.cs

# Logs, bin, obj
/Sharecode.Backend.Api/bin/
/Sharecode.Backend.Api/obj/
/Sharecode.Backend.Api/Logs/
/Sharecode.Backend.Infrastructure/obj/
/Sharecode.Backend.Infrastructure/bin/
/Sharecode.Backend.Presentation/obj/
/Sharecode.Backend.Presentation/bin/
/Sharecode.Backend.Domain/obj/
/Sharecode.Backend.Domain/bin/
/Sharecode.Backend.Utilities/obj/
/Sharecode.Backend.Utilities/bin/
/Sharecode.Backend.Application/obj/
/Sharecode.Backend.Application/bin/
/Sharecode.Backend.UnitTest.CodeQuality/obj/
/Sharecode.Backend.UnitTest.CodeQuality/bin/
/Sharecode.Backend.Worker.Outbox/obj/
/Sharecode.Backend.Worker.Outbox/bin/
/Sharecode.Backend.Worker.Outbox/Logs/
/Sharecode.Backend.Worker.DbCleanup/obj/
/Sharecode.Backend.Worker.DbCleanup/bin/
/Sharecode.Backend.Worker.DbCleanup/Logs/

